@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
:root {
    --deg: 30deg;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-image: linear-gradient( to right,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
    position: absolute;
    top: 5%;
}
h1 span{
    color: rgba(0, 0, 0, 0.49);
}

.clock {
    width: 400px;
    height: 400px;
    background-color: #060B1E;
    border-radius: 50%;
    border: 4px solid rgba(255, 0, 0, 0.562);
    position: relative;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    color: red;
    font-size: 1.5rem;
}
/* just changing the value of variables of rotation */
.clock .number1 { 
    --rotation: 30deg; 
}
.clock .number2 { 
    --rotation: 60deg; 
}
.clock .number3 { 
    --rotation:90deg;
}
.clock .number4 { 
    --rotation:120deg; 
}
.clock .number5 { 
    --rotation:150deg;
}
.clock .number6 { 
    --rotation:180deg;   
}

.clock .number7 { 
    --rotation: 210deg;
}
.clock .number8 { 
    --rotation:240deg;
}
.clock .number9 { 
    --rotation:270deg;
}
.clock .number10 { 
    --rotation:300deg;
}
.clock .number11 { 
    --rotation:330deg;
}

/* clock hands */ 
.clock .hand {
    --rotation: 0;
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    /* transition: transform .2s ease-in-out; */
}

.clock .hand::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 20%;
}
.clock .hand.second {
    width: 3px;
    height: 45%;
    background: red;
}
.clock .hand.minute {
    width: 7px;
    height: 40%;
    background: pink;
}
.clock .hand.hour {
    width: 10px;
    height: 35%;
    background: pink;
}
/* center circle */
.clock::after {
    content: '';
    position: absolute;
    background: red;
    z-index: 11;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}